div.landing-container {
    max-width: 1000px;
    margin: 0 auto;
    background: white;

    padding: 100px 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

span.logo-container {
    width: 250px;
    height: 250px;

    background: lightgrey;
    border-radius: 50%;
}

span.landing-slogan {
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 250px;
}

.company-name-chi {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    color: #2A3E50;
}

.company-name-eng {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    color: #34495e;
}

div.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button.view-helper-btn {
    font-family: 'Palanquin', sans-serif;
    /* background: #9932CC; */
    background: #110849;
    border-radius: 30px;
    color: white;
    padding: 10px 0;
    width: 40%;
    font-size: 1rem;
    outline: none;
}

button.faq-btn {
    background: transparent;
    font-family: 'Palanquin', sans-serif;
    color: #110849;
    border: 1px solid #110849;
    border-radius: 30px;
    font-size: 1rem;
    width: 40%;
    padding: 10px 0;
    outline: none;
}

@media (max-width: 1000px) {
    div.landing-container {
        flex-direction: column;
        padding: 100px 20px 60px;
    }

    div.buttons {
        justify-content: center;
    }

    button.faq-btn {
        width: 60%;
    }

    span.landing-slogan {
        margin: 0;
        margin-top: 50px;
        height: 200px;
    }

    .company-name-chi {
        font-size: 2rem;
        text-align: center;
    }

    .company-name-eng {
        font-size: 1.3rem;
        text-align: center;
    }
}