.holiday-trigger {
    width: auto;
    padding: 0 30px;
    border: .5px solid lightgrey;
    border-radius: 1%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.holiday-trigger i {
    transition: all 300ms ease-out;
    color: rgb(50, 50, 50);
}

.holiday-content {
    transition: all 300ms ease-out;
    padding: 10px 20px;
    box-shadow: 0 0 20px -10px lightgrey;
}

.holiday-content.hide {
    height: 0;
    opacity: 0;
}

.holiday-content.hide * {
    display: none;
}

.holiday-trigger:hover {
    cursor: pointer;
}

.holiday-content img {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .holiday-content {
        padding: 10px 10px;
    }

    .holiday-content img {
        width: 100%;
    }
}