.contacts-container {
    margin: 0 auto;
    padding: 10px 20px;
    max-width: 1200px;
}

.contacts-title-wrapper h2 {
    padding: 0 20px;
    margin-bottom: 0;
}

.contacts-content-wrapper {
    padding: 10px 20px;
}

.contacts-content h2 {
    font-weight: normal;
}

.contacts-content i {
    color: rgb(50, 50, 50);
}

.contacts-content strong {
    font-weight: 600;
    font-size: 1.1em;
    color: rgb(50, 50, 50);
}

.contacts-content * {
    letter-spacing: 2.5px;
}